.profileContainer img{
    width: 40%;
    margin-bottom: 15px;
}
.profileContainer{
    text-align: center;
    margin-top: 75px;
    align-items: center;
    justify-content: center;
}

.locationText{
    margin-top: 7px;
}

ion-grid{
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px !important;
}

ion-card{
    box-shadow: none !important;
}

.profileContainer h2{
    color: #8c8c8c;
    font-size: 1rem;
    margin-top: 5px;
}

.editProfileButton{
    background-color: black;
    color: #fff;
    text-transform: none;
    height: 35px;
    margin: 10px 75px;
}

.titles{
    margin-left: 35px;
    margin-top: 25px;
}

.statusContainer{
    text-align: center;
}

.statusContainer p{
    font-size: 1rem;
    color: #8c8c8c;
}

.healthStatus{
    background-color: palegreen;
    color: #000;
    text-transform: none;
    border-radius: 30px;
    height: 25px;
    margin: 10px 25px;
}

.vaccineStatus{
    background-color: palegreen;
    color: #000;
    text-transform: none;
    border-radius: 30px;
    height: 25px;
    margin: 25px 25px;
}

/*.scrollableCertificates::-webkit-scrollbar {*/
/*    display: none !important;*/
/*}*/

.scrollableCertificates{
    margin-bottom: 25px;
}

.certificatesContainer{
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
}

ion-toolbar{
    box-shadow: none !important;
}

.logoutContainer {
    margin-top: 20px;
    margin-bottom: 30px;
}