.ion-no-border {
    margin-left: 0px;
    margin-top: 10px;
}

.editProfileContainer img{
    width: 40%;
    margin-bottom: 20px;
}

.editProfileContainer{
    text-align: center;
    margin-top: 5px;
}

.changePhotoButton{
    background-color: black;
    color: #fff;
    text-transform: none;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 35px;
    margin-left: 75px;
    margin-right: 75px;
}

.editTitles{
    margin-bottom: 0px !important;
    margin-left: 15px;
}

.editNameInput{
    border-bottom: 1px solid;
    margin-top: 5px;
    letter-spacing: 10px;
}

.editProfileInput ion-icon{
    margin-right: 25px;
}

.editProfileInput{
    border-bottom: 1px solid;
    margin-top: 5px;
    letter-spacing: 10px;
}

.editProfileInput ion-icon{
    margin-right: 25px;
}

.certificateTitle{
    margin-left: 15px;
    margin-top: 45px;
}

.certificates{
    text-align: center;
}

.certificates img{
    width: 75%;
}

.saveButton{
    background-color: black;
    color: #fff;
    text-transform: none;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 35px;
    margin-left: 75px;
    margin-right: 75px;
}

@media (prefers-color-scheme: dark) {

    .changePhotoButton{
        background-color: white;
        color: black;
    }

    .saveButton{
        background-color: white;
        color: black;
    }
}

