@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600&display=swap');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');

/* testing */

:root{
  margin: 0;
  padding: 0;
  --ion-font-family: 'Overpass Mono';
  min-height: 100vh;
}

ion-content{
    --background: radial-gradient(circle, 
    var(--body-circle) 15%, 
    var(--body-circle-upper) 37%, 
    var(--body-circle-lower) 100%)!important;

    --background-repeat: no-repeat;
    --background-attachment: fixed;
}